html, body {
    margin: 0;
    padding: 1.25%;
    font-family: Arial, Helvetica, sans-serif;
    color: #334155;
    width: 90dvw;
    height: 90dvh;
}
.container {
    display: flex;
    flex-direction: column;
    height: 85dvh;
    width: 87dvw;
    justify-content: center;
}

.section-left {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-header-logo {
    width: 1.75rem;
    display: flex;
    align-items: start;
}

.section-left-a {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-left-textArea {
    width: 90%;
    height: 24rem;
    font-size: 1.5rem;
    text-align: justify;
    resize: none;
    border: none;
    color: #1e3a8a;
    font-family: inherit;
}

textarea::placeholder {
    color: #1e3a8a;
}

.section-left-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-left-advertencia {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 6rem;
}

.section-left-advertencia-img {
    height: 1rem;
    margin-right: 0.5rem;
}

.section-buttons {
    margin-top: 2%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.section-left__button {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid transparent;
    width: 45%;
    max-width: 35%;
}

.section-left__button.encriptar {
    background-color: #1e3a8a;
    color: white;
}

.section-left__button.desencriptar {
    background-color: transparent;
    color: #1e3a8a;
    border-color: #1e3a8a;
}
.section-right {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
}

.section-right-img {
    width: 80%;
}

.section-right-b {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-right-button {
    width: 15rem;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #1e3a8a;
    background-color: transparent;
    visibility: visible;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .section-left, .section-right {
        width: 48%;
    }

    .section-left-textArea {
        width: 85%;
        height: 98%;
        margin: 4% 0 0 7%;
    }
    .section-left-b {
        align-items: flex-start;
    }

    .section-buttons {
        margin-left: 10%;
        justify-content: flex-start;
        
    }

    .section-right {
        height: 91%;
        width: 30%;
    }

    .section-right-img {
        width: 90%;
    }

}

@media (max-width: 480px) {
    .section-left-textArea {
        font-size: 1.25rem;
        height: 18rem;
    }

    .section-left__button {
        font-size: 0.9em;
        padding: 10px;
        width: 90%;
        
    }

    .section-right-button {
        width: 12rem;
        font-size: 0.9em;
        padding: 10px;
    }
    .section-buttons{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    .section-right-img {
        display: none;
    }
}


